@charset "UTF-8";
*{  
    
}

body{   
    background-color: rgba(62, 62, 255, 0.608);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
 
}
header{ 
    text-align: center;
}

main{   
    background-color: white;
    margin: auto;
    width:500px ;
    border-radius: 10px;
    padding: 10px;
    height: 200px;
}
footer{
    text-align: center;
}

