@charset "UTF-8";


body{   
    background-color: rgb(20, 132, 95);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{ 
    text-align: center;
    color: rgba(255, 255, 255, 0.865);
}

main{   
    background-color: white;
    width: 350px;
    height: 220px;
    padding: 10px;
    margin: auto;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.289);
}
div{    
    padding: 5px;

}
div#inicio{
        margin-left: 8px;    

}
div#fim{
    margin-left: 20px;
}

input{  
    width: 80px;
    height: 13px;
}

input#btn{   
    height: 20px;
    margin-top: 5px;
    background-color: rgb(193, 182, 236);
    border: none;
    border-radius: 5px;
    font-style: bold;
 }
#btn:hover{ 
    background-color: rgb(20,132,95);
    color: black;
}
 
 p{
    text-align: justify;
    
 }
 footer{
    text-align: center;
 }


